<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
        .heart-icon {
            color: red;
            margin-right: 5px;
            cursor: pointer;
        }

        .message-icon {
            color: blue;
            margin-right: 5px;
        }
        .statusButton{
            display : block;
        }

    </style>
<body>
<div class="container">
<h3>판매 내역</h3>
    <div>
        <a th:href="@{/sells/other/{sellId}(sellId=__${sellId}__,memberId=${param.memberId})}">전체</a>
        <a th:href="@{/sells/other/{sellId}(sellId=__${sellId}__,memberId=${param.memberId},sellStatus=판매중)}">판매중</a>
        <a th:href="@{/sells/other/{sellId}(sellId=__${sellId}__,memberId=${param.memberId},sellStatus=판매완료)}">거래완료</a>
    </div>
<table>
    <tr th:each="sell : ${sells}">
        <td th:onclick="|javascript:goToSellDetail('${sell.sellId}','${sell.memberId}')|">
            <img th:if="${sell.productImages.size()>0}" th:src="${sell.productImages.get(0).getImageUrl()}" width="100" height="100" />
            <img th:unless="${sell.productImages.size()>0}" th:src="|/image/noImage.jpg|" width="100" height="100" />
        </td>
        <td th:onclick="|javascript:goToSellDetail('${sell.sellId}','${sell.memberId}')|">
            <h3 th:text="${sell.title}">제목</h3>
            <span th:if="${sell.sellStatus.toString()} == '예약중'">예약중</span>
            <p th:text="${sell.memberPlace}">장소</p>
            <p th:text="|${sell.price}원|"> >가격</p>
        </td>
        <td th:onclick="|javascript:goToSellDetail('${sell.sellId}','${sell.memberId}')|">
            <span class="heart-icon">&#x2661;</span>
            <span th:text="${sell.sellLikeCnt}"></span>
            <span class="message-icon">&#x2709;</span>
            <span th:text="${sell.chatRoomCnt}"></span>
        </td>
    </tr>
</table>
</div>
<script>
        function goToSellDetail(sellId,memberId) {
            // 판매글 상세 페이지 URL로 이동
            window.location.href = `/sells/${sellId}?memberId=${memberId}`;
        }
    </script>
</body>

</html>